services:
  kiro-rs:
    image: ghcr.io/jasonwang8855/kiro-rs:beta
    container_name: kiro-rs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8990:8990"
    volumes:
      - ./config.json:/app/config/config.json
      - ./credentials.json:/app/config/credentials.json
    restart: unless-stopped
